.infotooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 86px 0 80px 0px;
  background-color: #f5f6f7;
  width: 100%;
}

.infotooltip_hidden {
  display: none;
}

.infotooltip__image {
  width: 82.5;
  height: 82.5;
  margin-bottom: 31.5px;
}

.infotooltip__title {
  width: 356px;
  padding: 0;
  margin: 0 0 16px 0;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  text-align: center;
}

.infotooltip__paragraph {
  max-width: 356px;
  padding: 0;
  margin: 0 20px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  text-align: center;
  overflow-wrap: break-word;
}

@media screen and (min-width: 320px) and (max-width: 729px) {
  .infotooltip__title {
    width: 100%;
  }
  .infotooltip__paragraph {
    width: 100%;
  }
}
