.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  display: flex;
  align-items: center;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 430px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 28px;
}

.modal__container_type_login {
  height: 383px;
}

.modal__container_type_register {
  height: 458px;
}

.modal__close-button {
  position: absolute;
  background-image: url("./../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  top: -48px;
  right: -48px;
  border: 0;
  background-color: transparent;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__title {
  padding: 34px 36px 0 36px;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

.modal__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__span {
  margin-top: 16px;
  padding: 0;
  text-align: center;
}

.modal__link {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #fff;
  color: rgba(47, 113, 229, 1);
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.modal__paragraph {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28.13px;
  color: #000000;
}

.modal__message-wrapper {
  padding: 20px 20px;
}

.modal__link_enlarge {
  font-size: 18px;
  line-height: 21.78px;
}

@media screen and (min-width: 320px) and (max-width: 729px) {
  .modal__container {
    width: 320px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .modal__container_type_login {
    height: 520px;
  }
  .modal__container_type_register {
    height: 520px;
  }
  .modal__close-button {
    width: 26px;
    height: 26px;
    top: -39.62px;
    right: 0;
  }
  .modal__title {
    padding: 25px 22px 22px 10px;
  }
}
