.savednewsheader {
  padding-top: 120px;
  height: 384px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 104px;
}

.savednewsheader__subtitle {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 0 0 28px 0;
}

.savednewsheader__title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: rgba(26, 27, 34, 1);
  width: 530px;
  margin: 0 0 30px 0;
}

.savednewsheader__paragraph {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 1);
  margin: 0 0 56px 0;
}

@media screen and (min-width: 730px) and (max-width: 900px) {
  .savednewsheader {
    height: 270px;
    padding-top: 90px;
    padding-left: 40px;
  }
  .savednewsheader__subtitle {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .savednewsheader__title {
    width: 336px;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 16px;
  }
  .savednewsheader__paragraph {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 729px) {
  .savednewsheader {
    height: 302px;
    justify-content: flex-start;
    padding-top: 64px;
    padding-left: 16px;
    padding-bottom: 0;
  }
  .savednewsheader__subtitle {
    font-size: 12px;
    margin-bottom: 16px;
    width: 288px;
  }
  .savednewsheader__title {
    width: 288px;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 50px;
  }
  .savednewsheader__paragraph {
    margin-bottom: 32px;
  }
}
