.searchform {
  height: 576px;
  width: 100%;
  box-sizing: border-box;
  background-image: url(./../images/georgia-de-lotz--UsJoNxLaNo-unsplash.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 608px;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 80px;
  flex-shrink: 0;
}

.searchform__title {
  margin: 0;
  max-width: 608px;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #fff;
  text-align: left;
}

.searchform__description {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  width: 608px;
  margin: 32px 0 0 0;
  text-align: left;
}

.searchform__form {
  border: 0px;
  margin-top: 80px;
  width: 608px;
}

.searchform__fieldset {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  border: 0px;
  padding: 0;
  position: relative;
}

.searchform__input {
  border: 1px solid rgba(209, 210, 214, 1);
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 608px;
  height: 64px;
  border-radius: 50px;
  padding: 0 0 0 15px;
  color: rgba(182, 188, 191, 1);
}

.searchform__submit {
  border-radius: 50px;
  border: 0;
  background-color: rgba(47, 113, 229, 1);
  color: #fff;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 168px;
  height: 66px;
  position: absolute;
  top: 0;
  left: 457px;
  padding: 0;
  box-shadow: 0px 5px 15px 0px rgba(14, 26, 57, 0.2);
}

.searchform__submit:hover {
  background-color: rgba(52, 126, 255, 1);
}

.searchform__submit:active {
  background-color: rgba(42, 101, 204, 1);
}

@media screen and (min-width: 730px) and (max-width: 900px) {
  .searchform {
    height: 400px;
    padding-top: 104px;
    padding-bottom: 48px;
    grid-template-columns: 448px;
  }
  .searchform__title {
    font-size: 36px;
    line-height: 40px;
    width: 385px;
  }
  .searchform__description {
    font-size: 18px;
    line-height: 24px;
    width: 452px;
    margin-top: 16px;
  }
  .searchform__form {
    width: 448px;
    margin-top: 48px;
  }
  .searchform__input {
    width: 452px;
    height: 56px;
  }
  .searchform__submit {
    width: 160px;
    height: 58px;
    left: 309px;
  }
}

@media screen and (min-width: 320px) and (max-width: 729px) {
  .searchform {
    height: 536px;
    padding: 86px 16px 32px 16px;
    grid-template-columns: 288px;
  }
  .searchform__title {
    width: 285px;
    font-size: 36px;
    line-height: 40px;
  }
  .searchform__description {
    font-size: 18px;
    line-height: 24px;
    width: 288px;
    margin-top: 16px;
  }
  .searchform__form {
    margin-top: 122px;
    width: 100%;
  }
  .searchform__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    row-gap: 16px;
  }
  .searchform__input {
    width: 288px;
    padding: 0;
    height: 56px;
  }
  .searchform__submit {
    width: 288px;
    height: 56px;
    position: unset;
    left: 0;
  }
}
